
  <body>
    <section class="section-container">
      <div class="left-box">
        <h2></h2>
      </div>
      <div class="side-bar">
<div class="list-info">
<ul> 
  <li>37 Bankeryd, Jönköping</li>
 <li> r.sspasovska@gmail.com</li> 
<li>  2019 - NOVA Internatioanl High Shool </li> 
<li>  2023 - Hjälmared Folkhögskola </li>
<li>2024 - Jönköping University </li>
</ul>
     </div> 
      </div>
      <div class="content-me">
        <h1 class="title-me">
          Im <span> Rakella <br />a</span> Photographer
        </h1>
        <p class="description">
          Welcome to my portfolio website. I'm Rakella, a dedicated photographer
          with a keen eye for detail and a passion for storytelling through
          imagery. As you explore my portfolio,
          I invite you to immerse yourself in the stories behind each image and
          discover the beauty and emotion captured within. Thank you for
          visiting, and I look forward to sharing my passion for photography
          with you.
        </p>
       
     </div>
      <div class="image">
        <img src="/images/pic123.JPG" alt="profile" />
     </div>
      </div>
    </section>
  </body>

 