<div id="contact">
<div id="info"> 
       <h2>Contact Me</h2>
    </div>

<form>
    <input name="name" type="text"  class="info-input" placeholder="Name"/>
  <input name="email" type="text"  class="info-input" placeholder="Email"/>
<textarea name="text" class="info-input" placeholder="Comment"></textarea>
    <input type="submit" value="SUBMIT"/>
</form>
</div>