<h2 class="proj-topic">{{project.ptitle}}</h2>
<img class="full-image" src="{{project.pimage}}" alt="pimage">
<p class="proj-date">{{project.pdate}}</p>
<p class="proj-desrip">{{project.pdescription}}</p>