<div id="skills">
    <h1 class="skills-title">Skills</h1>
    <ul>
        {{#each skills}}
        <li>
            <h3>{{this.stitle}}</h3>
            <p>{{this.sdescription}}</p>
        </li>
        {{/each}}
    </ul>
</div>